.sideBar{
    
    background-color: slategray;
    display: flex;
    padding: 10px;
    width: 14%;
    height: 80%;
    box-shadow: 0 0 10px black;
    position: fixed;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    left: 0;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}