.mainWrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

.Content{
    
    display: flex;
    width: 90%;
    box-sizing: border-box;
    align-items: center;;
    border: 9px solid crimson;
}