.mainWrapper{
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-evenly; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

.Content{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 0px 0 0 0px;
    height: 100%;
    box-shadow: 0px 0px 101px black;
    transition: all 0.3s ease-out;
}

.Grow{
    width: 100%;
}
.Shrink{
    width: 85%;
}

.forward,.backward{
    cursor: pointer;
    background-color: transparent;
    outline: transparent;
    background-size: cover;
    height:50px;
    position: fixed !important;
    border: none;
    z-index: 1002;
    top: 0.5%;
    left: 0;
}