.UserNavItem {
    /* margin: 10px 0; */
    font-family: tahoma;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-top: 5px;
}
.UserNavItem button{
    width:100%;
    /* padding: 15px; */
}
.UserNavItem a {
    color: red;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.UserNavItem a:hover,
.UserNavItem a:active,
.UserNavItem a.active {
    color: white;
    background-color: royalblue;

    /* margin-top:10px ; */

}

@media (min-width: 500px) {
    .UserNavItem {
        /* margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center; */
    }
    
    .UserNavItem a {
        /* color: white;
        height: 100%; */
        padding: 10px 10px;
        /* border-bottom: 4px solid transparent; */
    }
    
    .UserNavItem a:hover,
    .UserNavItem a:active,
    .UserNavItem a.active {
        /* font-family: tahoma;
        background-color: rgb(19, 179, 165);
        border-bottom: 4px solid #222233;
        color: white; */
    }
}