@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Kalam|Patrick+Hand|Satisfy&display=swap');

body {
  margin:0px;
  font-family:'Caveat', cursive;
  text-align:center;
}

#container {
  color:white;
  
  font-size:50px;
  font-weight:bold;
  padding-top:200px;  
  position:fixed;
  width:100%;
  bottom:45%;
  right:0%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
  margin: 10px;
}

#flip > div > div {
  padding:4px 12px;
  height:45px;
  font-family: 'Patrick Hand', cursive;
  font-size: 43px;
  margin-bottom:30px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 8s linear infinite;
}
#Fflip div{
    background: white;
}

#flip div div {
  color:#a6d9f0f8 ;
}
#flip div:first-child div {
  color:#ebbef0d5;
}
#flip div:nth-child(2) div {
  color:rgb(253, 240, 166);
}

#flip div:nth-child(3) div {
    color:rgb(171, 247, 175);
}

#flip div:nth-child(4) div {
    color:rgb(253, 240, 166);
}
  

@keyframes show {
  0% {margin-top:0px;}

  12.5% {margin-top:0px;}
  25% {margin-top:-90px;}
  37.5% {margin-top:-180px;}
  
  50% {margin-top:-250px;}
  62.5% {margin-top:-250px;}

  75% {margin-top:-180px;}
  87.5% {margin-top:-90px;}
  100% {margin-top:0px;}
  
  /* 0% {margin-top:-270px; */

  /* 5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;} */
  
  /* 100% {margin-top:-270px;} */
}

p {
  position:fixed;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top:200px;
}