/*.appMain{
    display: flex;
    height: 100%;
    
    background-image: url('assets/images/background.jpg');
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.homeButton{
    margin: 10px !important;
}

.mainWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}*/