.appMain{
    display: flex;
    height: 100%;
    /* border: 1px solid crimson; */
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.homeButton{
    margin: 10px !important;
}

.mainWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}