.appMain{
    display: flex;
    height: 100%;
    /* border: 1px solid crimson; */
    /* width: 100%; */
    /* padding: 20px; */
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

body{
    text-align: center;
    justify-content: center;
}

.mainWrapper{
    margin: auto;
    margin-top: 1%;
    padding:20px;
    height: 80%;
    width : 80%;
    border: 1px solid black;
}